.header {
  background-color: #f3ae56;
}

.active svg {
  fill: #f3ae56;
}

.items {
  margin-bottom: env(safe-area-inset-bottom);
}

.main {
  margin-top: 51px;
  margin-bottom: 70px;
}

.nav {
  border-top: 1px solid #e4e7e7;
}
