@use 'settings.module' as *;

.description {
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.centerInfo {
  height: calc(100vh - 500px);
  display: flex;
  justify-content: center;
  align-items: center;
}
