@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/helpers';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/utilities/api';

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ul.scrollable {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  li {
    display: inline-block;
    width: 15rem;
    margin: 0 1rem 0.5rem 0;
  }

  li:last-child {
    margin-right: 0;
  }
}
