@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/helpers';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/utilities/api';

body {
  overscroll-behavior: none;
  font-family: 'Noto Sans JP', 'Noto Sans CJK JP', 'BIZ UDPGothic',
    'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
    Meiryo, sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ul.scrollable {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  li {
    display: inline-block;
    width: 15rem;
    margin: 0 1rem 0.5rem 0;
  }

  li:last-child {
    margin-right: 0;
  }
}

textarea {
  resize: vertical;
}

.btn-form {
  background-color: #5eafff;
  color: #000000;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 14%);
  font-weight: 500;
}

.btn-delete {
  background-color: #dc3545;
  color: #ffffff;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 14%);
  font-weight: 500;
}

.title {
  padding: 0.5rem 0;
}
