.topImage {
  position: relative;
  height: 10rem;
  z-index: -1;
}

.circleArea {
  position: absolute;
  top: 4rem;
}

.circle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: solid #000 1px;
  z-index: 99;
  text-align: right;
  background-color: #ffffff;
}

.denom {
  font-size: 0.5rem;
  text-align: center;
}

.section {
  padding: 0 1rem;
}

.title {
  font-size: 0.5rem;
  color: #773f00;
}

.schedule {
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
}

.roomInfo {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
}

.checkArea {
  border: solid 1px #f82136;
  border-radius: 10px;
  padding: 0.75rem;
  padding-bottom: 0;
  font-size: 1.05rem;
  margin-bottom: 1.5rem;

  .checkAreaTitle {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  > div {
    margin-bottom: 1rem;
  }
}

.checkbox {
  &:checked {
    background-color: #0a844b;
    border-color: #0a844b;
  }
  &:checked + label {
    color: #0a844b;
  }
}

.RoomCard {
  padding-top: 0.75rem;
  padding-bottom: 1rem;
}

.mini_title {
  color: #773f00;
  padding-top: 1rem;
}

.btnShare {
  background-color: #c5c6c7;
  color: #000000;
  padding: 0.75rem 1rem;
  font-size: 0.95rem;
  width: 100%;
}

.btnShareTwitter {
  @extend .btnShare;
  background-color: #1da1f2;
  color: #ffffff;
  margin-right: 0.25rem;
}

.btnShareLine {
  @extend .btnShare;
  background-color: #06c755;
  color: #ffffff;
  margin-left: 0.25rem;
}
