.topImage {
  position: relative;
  height: 10rem;
  z-index: -1;
}

.circleArea {
  position: absolute;
  top: 5rem;
}

.circle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: solid #000 1px;
  z-index: 99;
  text-align: right;
  background-color: #ffffff;
}

.denom {
  font-size: 0.5rem;
  text-align: center;
}

.section {
  > div,
  > p {
    padding: 0 1%;
  }
}

.title {
  font-size: 0.5rem;
  color: #773f00;
}

.schedule {
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
}

.host {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.tag {
  text-decoration: none;
}
