

.elementCenter {
  height: calc(100vh - 180px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.startWithLogin {
  font-size: 1.45rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.25rem;
}

.settingsItem {
  padding: 1.25rem 0.25rem;
  border-bottom: 1px solid;

  a {
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
}
