.title {
  padding: 10px;
}

.username {
  font-size: 25px;
  padding-left: 10px;
  display: inline-block;
}

.usersettings {
  padding: 2%;
  border-bottom: 1px solid;
}

.History {
  padding: 2%;
  border-bottom: 1px solid;
}

.covid {
  padding: 2%;
  border-bottom: 1px solid;
}

.login {
  padding: 2%;
  border-bottom: 1px solid;
}

.a {
  text-decoration: none;
  color: black;
}
