.title {
  padding: 10px;
}

.image {
  border-radius: 100px;
  display: inline-block;
}

.username {
  font-size: 25px;
  padding-left: 10px;
  display: inline-block;
}

.text {
  font-size: 18px;
}

.text_center {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.usersettings {
  padding: 2%;
  border-bottom: 1px solid;
}

.History {
  padding: 2%;
  border-bottom: 1px solid;
}

.covid {
  padding: 2%;
  border-bottom: 1px solid;
}

.login {
  padding: 2%;
  border-bottom: 1px solid;
}

.a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
